p {
    background-position: black;
}
.pict1 {
    border: 20px;
}
a:hover {
    color: rgb(127, 255, 136);
}
body {
    color: white;
    background-image: url("https://wallpapercave.com/wp/wp5570679.jpg")
}